@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;700&display=swap');

body {
  font-family: 'Inconsolata', monospace;
}

.app {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
}

table {
  border-spacing: 0;
  border: 1px solid black;
  border-bottom: 0px;
}

th, td {
  margin: 0;
  padding: 0.5rem;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

td:first-child, th:first-child {
  border-left: 0px;
}

.app-container {
  width: 75%;
  margin: 5%;
}

@media only screen and (max-width: 768px) {
  .app-container {
    font-size: 0.9em;
    height: 70%;
  }
}

@media only screen and (min-width: 992px) {
  .app-container {
    width: 60%;
  }
}

.section-title {
  font-size: 2em;
  padding: 0.25em 0 0.25em 0;
  font-weight: bold;
}

.section-desc {
  font-size: 1.5em;
  font-weight: 100;
  padding: 0.5em 0 0.5em 0;
}